*{
    padding: 0;
    margin: 0;
}



.example-form {
 width: 80%;
 height: 79%;
 position: relative;
 top: 40px;
 left: 20px;
 width: 90%;
    
}

.title {
    border-bottom: 7px solid rgb(102, 34, 111);
    width: 150px;
    position: relative;
    left: 20px;
    top: 20px;
    font-weight: bolder;
    font-size: 19px;
    padding: 4px;
}

mat-dialog-actions {
    position: relative;
    top: 30px;
}

.content {
    min-height: 120px;
}


.error {
    position: relative;
    
}